# Server Environment Variables
PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:3000
MONGODB_URI=mongodb+srv://kg20060220_db_user:<db_password>@cluster0.m8z43qb.mongodb.net/?appName=Cluster0
DATABASE_URL=mongodb+srv://kg20060220_db_user:<db_password>@cluster0.m8z43qb.mongodb.net/?appName=Cluster0
JWT_SECRET=supersecretjwtkey_campusmatch_2026
